<% provide(:title, 'About Us') %>
<h1>About Us</h1>

<div class="row">
	<div>
		<%= image_tag("Gamebook.jpg", :id => "gamebook_banner") %>
	</div>
</div>

</br>

<div class="row">
	<div class="cd span4">
		<p id="consumer_description">
			Reward points are earned when making purchases at collaborating shops and restauraunts. 
		</p>
		<%= image_tag("coins.png", :class => "coin_box") %>
	</div>

	<div class="span4">
		<p id="gamebook_description">
			From placing wagers on the Yankees game to American Idol, the gaming platform allows you to wager your reward points against your friends in pools created by you around the outcome of sports games and television shows.
		</p>
		<%= image_tag("coin.png", :class => "coin_box") %>
	</div>

	<div class="span4">
		<p id="prize_description">
			These reward points earned from shopping or through winning them from your friends are exchangeable for non-monetary prizes from airline tickets, to smartphones, to concert tickets.
		</p>
		<%= image_tag("coins.png", :class => "coin_box") %>
	</div>
</div>
